html,
body{
	height: 94%;
	margin: 0;
	padding: 0;
	background-image: url("scape2.jpg");
	background-position: right center;
	background-size: 300px 300px;
	background-repeat: no-repeat;
	font-family: arial, sans-serif;
	box-sizing: border-box;
}			
#body {
	margin-left: 15em;
	padding: 0;
    width: 70%;
	height: 100%;
	padding-bottom: 30px;
	box-sizing: border-box;
}
header {
	height: 45px;
	box-sizing: border-box;
	border-bottom: 3px solid #D2691E;
	background-color: #F4A460;
	top: 0px;
}
#container {
	min-height:100%;
	position:relative;
	box-sizing: border-box;

}

table {
   border-collapse:collapse;
   text-align:left;
}
th {
    padding: 7px;
    text-align: left;
    border: 1px solid #f7bc88;
	background-color: #f7bc88;
}
td {
    padding: 7px;
    text-align: left;
    border: 0.5px solid #f7bc88;
}

nav ul, footer ul {
	margin-left: 15em;
	margin-top: 0px;
	width: 70%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
    color: red;
}
a.two:link, a.two:visited {
	border-radius: 10px 10px 0px 0px;
    color: Black;
    padding: 14px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a.two:hover, a.two:active {
    background-color: white;
	color: black;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
	text-align: justify;
}
#footer {
	text-indent: 15em;
    position: absolute;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
	width: 100%;
	bottom: 0;
	height:30px;
	box-sizing: border-box;
}
#footer li{
	display: inline;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.scaled{  
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -o-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}
#autosizeImage {  width: 100%;  height: auto; } 
