<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="jquery-3.3.1.min.js"></script>
		</head>
		<body>
		<header>
			<nav>
	    		<ul>
	        	<li><a class="two" href="/">Domov</a></li>
	        	<li><a class="two" href="/blog">Blog</a></li>
				<li><a class="two" href="/eventi">Eventi</a></li>
				<li><a class="two" href="/profili">Profili igralcev</a></li>
				<li><a class="two" href="/deckliste">Deckliste</a></li>
				<li><a class="two" href="/lestvica">Lestvica</a></li>
				<li><a class="two" href="/izposojevalnica">Izposojevalnica</a></li>
				<li><a class="two" href="/arhiv">Arhiv</a></li>
	    		</ul>
			</nav>
		</header>
		<div id="container">
		
		<div id= "body">
			
			{{ content }}
			
		</div><!-- /.body -->
		
		<div id="footer">
		<ul>
			<li><a class="one" href="mailto:slogoatsss@gmail.com">Kontakt:</a></li>
			<li>slogoatsss@gmail.com</li>
			<li> &nbsp &nbsp &nbsp &nbsp &nbsp <img src="F_icon.png" width="20" height="20"></li>
			<li> &nbsp <a href="https://www.facebook.com/slogoatsss/" target="_blank">SloGoatsss Facebook stran</a></li>
		</ul>
		</div><!-- /.footer -->
		</div><!-- /.container -->

		</body>
		
	</html>
