<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Domov</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/eventi">Eventi</a></li>
				<li><a href="/profili">Profili igralcev</a></li>
				<li><a href="/deckliste">Deckliste</a></li>
				<li><a href="/lestvica">Lestvica</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:slogoatsss@gmail.com">Kontakt</a></li>
	        		<li>slogoatsss@gmail.com</li>
				</ul>
			</footer>
		</body>
	</html>
