<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="jquery-3.3.1.min.js"></script>
		</head>
		<body>
		<div id="container">
		<div id="header">
			<nav>
	    		<ul>
	        		<li><a href="/">Domov</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/eventi">Eventi</a></li>
				<li><a href="/profili">Profili igralcev</a></li>
				<li><a href="/deckliste">Deckliste</a></li>
				<li><a href="/lestvica">Lestvica</a></li>
				<li><a href="/izposojevalnica">Izposojevalnica</a></li>
				<li><a href="/arhiv">Arhiv</a></li>
	    		</ul>
			</nav>
		</div><!-- /.header -->
		<div id="body">	
			
			{{ content }}
			
		</div><!-- /.body -->
		<div id="footer">
	    		<ul>
	        		<li>Kontakt</li>
	        		<li><a href="mailto:slogoatsss@gmail.com">slogoatsss@gmail.com</a></li>
			</ul>
		</div><!-- /.footer -->
		</div><!-- /.container -->
		</body>
	</html>
